@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --white: rgba(255,255,255,1);
  --black: rgba(0,0,0,1);
  --transparent: rgba(255,255,255,0);

  --blue-500: rgba(59,130,246,1);
  --indigo-300: rgba(165,180,252,1);
  --blue-300: rgba(147,197,253,1);
  --violet-200: rgba(221,214,254,1);
  --blue-400: rgba(96,165,250,1);
}

html, body, #root { height: 100%; }
